@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 991px) {
        @content;
    }
}

@mixin largedesktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin smallscreen {
    @media (max-width: 370px) {
        @content;
    }
}

@mixin onlymobile {
    @media (max-width: 767px) {
        @content;
    }
}
$header-transition: 0.5s ease-in-out;
$header-transition-delay: 0.25s;
$normal-color: #333;
$transparent-color: #fff;

html,
body {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
}
#body-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 1;
}
#header-outside-container {
    background-color: #fff;
    transition: background-color $header-transition;
    margin: 0 auto;
    filter: drop-shadow(0 0 10px rgba(100, 100, 100, 0.3));

    .icon-burger svg path {
        stroke: $normal-color;
        transition: stroke $header-transition;
    }
    .logo-hismile svg path {
        fill: $normal-color;
        transition: fill $header-transition;
    }
    .shopping-cart svg path {
        stroke: $normal-color;
        transition: stroke $header-transition;
    }
    .cart-text {
        display: block;
        color: $normal-color;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        transition: color $header-transition;
    }
    .header-link {
        color: $normal-color;
        transition: color $header-transition;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        display: block;
        padding: 0 20px;
    }

    &.transparent_nav {
        background-color: transparent;
        .icon-burger svg path {
            stroke: $transparent-color;
        }
        .logo-hismile svg path {
            fill: $transparent-color;
        }
        .shopping-cart svg path {
            stroke: $transparent-color;
        }
        .cart-text {
            color: $transparent-color;
        }
        .header-link {
            color: $transparent-color;
        }
    }
}
#header-container {
    max-width: 1440px;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;

    .header-left {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(10px, auto));
        grid-gap: 40px;
        place-items: center normal;
    }
}

.cover-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: brightness(50%);
    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.div-filler {
    object-fit: cover;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}
.waves {
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 105%;
    transition: 0.5s all ease-out;
    transition-delay: 0.25s;
    margin: 0 auto;
    
    svg {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        bottom: -4px;
    }
}

.container {
    max-width: 1440px;
}
#home {
    #home-hero {
        position: relative;
        height: 900px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        color: #fff;
    }

    .home-hero__content {
        width: 100%;
        max-width: 320px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.rotated-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    .kit_accent,
    .kit_image {
        position: absolute;
        height: 300px;
        width: 300px;
        transition-delay: 0.1s;
        transition: 0.25s all ease-out;
    }
}
