@mixin tablet {
    @media(min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 991px) {
        @content;
    }
}

@mixin largedesktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin smallscreen {
    @media (max-width: 370px) {
        @content;
    }
}

@mixin onlymobile {
    @media (max-width: 767px) {
        @content;
    }
}
$header-transition: 1s ease-in-out;
$header-transition-delay: 0.25s;
$normal-color: #333;
$transparent-color: #fff;

html,body {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #fafafa;
}
#body-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
#header-container {
    background-color: #fff;
    transition: background-color $header-transition;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;

    .icon-burger svg path {
        stroke: $normal-color;
        transition: stroke $header-transition;
    }
    .logo-hismile svg path {
        fill: $normal-color;
        transition: fill $header-transition;
    }
    .shopping-cart svg path {
        stroke: $normal-color;
        transition: stroke $header-transition;
    }

    
    &.transparent_nav {
        background-color: transparent;
        .icon-burger svg path {
            stroke: $transparent-color;
        }
        .logo-hismile svg path {
            fill: $transparent-color;
            transition: fill $header-transition;
        }
        .shopping-cart svg path {
            stroke: $transparent-color;
            transition: stroke $header-transition;
        }
    }
}
#header-container {
    
    .cart-text {
        display: block;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    .mobile-nav {
        width: 100%;
        height: 72px;
        

    }
}
// ::-webkit-scrollbar {
//     display: none; // Safari and Chrome
// }
#body-container {
    // width: 100vw;
    // height: 100vh;
    // overflow: hidden;
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
}
.cover-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: brightness(50%);
    video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.div-filler {
    object-fit: cover;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}
.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition-delay: 0.1s;
    transition: 0.25s all ease-out;
    svg {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        bottom: -4px;
    }
}

.container {
    max-width: 1440px;
}
#home {
    #home-hero {
        position: relative;
        height: 900px;
        display: flex;
        justify-content: center;
        overflow: hidden;
       
    }
    
    .home-hero__content {

    }

}

.rotated-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    .kit_accent, .kit_image {
        position: absolute;
        height: 300px;
        width: 300px;
        transition-delay: 0.1s;
        transition: 0.25s all ease-out;
    }
}